<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <section name="MessageForwardingInCaseOfFaultConfig"
                 type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
        <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
        <section name="AuditConfig" type="NServiceBus.Config.AuditConfig, NServiceBus.Core" />
        <section name="Logging" type="NServiceBus.Config.Logging, NServiceBus.Core" />
    </configSections>
    
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

    <Logging Threshold="Info" />
    
    <MessageForwardingInCaseOfFaultConfig ErrorQueue="error" />    
    
    <UnicastBusConfig>
        <MessageEndpointMappings>
            <add Assembly="Logus.HMS.Messages" Endpoint="Logus.HMS.Service" />
        </MessageEndpointMappings>
    </UnicastBusConfig>    
    
    <AuditConfig QueueName="audit" />

    <appSettings>
        <add key="NServiceBus/Persistence/NHibernate/dialect" value="NHibernate.Dialect.MsSql2008Dialect" />
        <add key="NServiceBus/Persistence/NHibernate/hbm2ddl.auto" value="update" />
        <add key="NServiceBus/Persistence/NHibernate/connection.provider" value="NHibernate.Connection.DriverConnectionProvider" />
        <add key="NServiceBus/Persistence/NHibernate/connection.driver_class" value="NHibernate.Driver.Sql2008ClientDriver" />
    </appSettings>
    
    <connectionStrings>
        <add name="NServiceBus/Transport" connectionString="Data Source=(local);Initial Catalog=servicebus;Integrated Security=true" />
        <add name="NServiceBus/Persistence" connectionString="Data Source=(local);Initial Catalog=servicebus;Integrated Security=true" />
    </connectionStrings>

</configuration>